// shared 
@use "src/styles/shared/presentational";
@use "src/styles/shared/interactive";
@use "src/styles/shared/forms";

// pages
@use "src/styles/pages/contact";
@use "src/styles/pages/work";

// components
@use "src/styles/components/navbar";
@use "src/styles/components/footer";

// global
* {
    font-family: 'Montserrat', sans-serif;

    &:focus {
        outline: 2px dashed #006CFF;
        outline-offset: 3px;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
    color: #232129;
}

p,
li {
    font-size: 1.1em; //18px;
    line-height: 1.8em; //32px;
}


